

#sort{
    visibility: hidden;
    margin: 20px;
    background-color: lightseagreen;
}

#submit{
 margin: 20px;
 background-color: lightseagreen;
}

input{
    margin-top: 10px;
    margin-bottom:10px;
}




#submit2{
    margin: 20px;
    background-color: lightseagreen;

}



